# Python
__pycache__/
*.pyc
venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Data (added later)
data/

# Training artifacts
lightning_logs/
models/checkpoints/
models/tft/
experiments/

# Virtual environments
venv/
venv_weather/

# Notebooks checkpoints
.ipynb_checkpoints/
